.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.container h1 {
  margin-top: 0.5em;
}

#input {
  width: 70%;
  background-color: rgba(132, 135, 135, 0.2);
  margin-bottom: 2em;
}

.player-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player-input input {
  text-align: center;
}

.player-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.stats {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.stat-group {
  display: flex;
  flex-direction: column;
}

.season {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

#seasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#duel {
  background: rgba(159, 199, 199, 0.4);
  width: 20%;
  height: 5%;
  margin: auto;
  margin-bottom: 2em;
  padding: 0.7em;
  font-size: 1em;
  display: block;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#duel:hover {
  transform: scale(1.2);
  background-color: #91d0cd;
  box-shadow: 5px 10px #888888;
}

#season {
  padding: 0.5em;
}

#season:hover {
  cursor: pointer;
  background-color: rgb(162, 223, 213);
}

.stat:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(88, 114, 114, 0.2);
  box-shadow: 2px 2px rgba(214, 238, 238, 0.2);
}

.stat label:hover {
  cursor: pointer;
}

/* responsiveness */
@media screen and (max-width: 700px) {
  .container h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  #input {
    width: 80%;
  }
  .stats {
    width: 80%;
  }
  .player-input {
    flex-direction: column;
  }
  .swords {
    order: 0;
  }
  #p1-div {
    order: 1;
  }
  #p2-div {
    order: 2;
  }
  .player-name input {
    margin-bottom: 1.5em;
  }

  .stats {
    flex-direction: column;
  }
  #duel {
    width: 50%;
  }
}

/* table styles */
.surround {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#winner {
  margin-top: 1em;
}
#output {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  margin: auto;
  font-size: 18px;
  text-align: center;
}

#output table {
  border-collapse: collapse;
  width: 100%;
}

#output table th {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

#output table td {
  padding: 10px;
  border: 1px solid #333;
}

#output table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.header {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #output table {
    transform: scale(0.5);
    margin: auto;
    margin-top: 1em;
    padding-top: 0;
  }
}
