<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SwishStats{% endblock %}</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
                    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-page.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <section id="navbar">
            <div class="navbar1">
                <h1>
                    <span class="highlight">Hoop</span>
                    <span class="highlight1">Stats</span>
                </h1>
            </div>
            <div class="nav-bar">
                <ul>
                    <li>
                        <a class="current" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/register"><i class="fa fa-fw fa-envelope"></i>Register</a>
                    </li>
                    <li>
                        <a href="/login"><i class="fa fa-fw fa-user"></i>login</a>
                    </li>
                    <li>
                        <a href="/profile"><i class="fa-solid fa-circle-user"></i> profile</a>
                    </li>
                    <li>
                        <a href="/query">Query</a><i class="fa fa-fw fa-question" id="question"></i>
                    </li>
                    <li>
                        <a href="/duel"><i class="fa-solid fa-shield-halved"></i> Duel</a>
                    </li>
                </ul>
            </div>
        </section>
    </header>

    <!-- <nav class="navbar navbar-expand-lg navbar-red navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">

            <img src="{{ url_for('static', filename='images/Logo1.png') }}" class="logo" alt="Your Image">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">NBA Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <div class="mx-auto d-block">
                <img src="{{ url_for('static', filename='images/Logo1.png') }}" class="logo" alt="Your Image">
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav> -->

    <!-- <nav class="navbar navbar-expand-md navbar-red fixed-top">
        <a href="#" class="navbar-brand"><img src="{{ url_for('static', filename='images/Logo1.png') }}" class="logo" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav> -->

    

    {% block content %}

    {% endblock %}

    <!-- <footer class="text-center text-lg-start bg-light text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>SwishStats
                        </h6>
                        <p>
                            Check out our wide assortment of NBA stats, trivia, and comparisons!
                        </p>
                    </div>
    
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Languages
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Python (Flask)</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">HTML</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">CSS</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">JavaScript</a>
                        </p>
                    </div>
    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="/login" class="text-reset">Login</a>
                        </p>
                        <p>
                            <a href="/stats" class="text-reset">NBA Stats Page</a>
                        </p>
                    </div>
    
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Project Contributors</h6>
                        <p><i class="fas fa-home me-3"></i> Murphy Lee</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            Zuhair Khan
                        </p>
                        <p><i class="fas fa-phone me-3"></i> Andrew Tam</p>
                    </div>
                </div>
            </div>
        </section>
        </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>