{% extends 'base.html' %} {% block title %}SwishStats{% endblock %} {% block
style %}
<head>
  <script
    src="https://kit.fontawesome.com/dd1637e640.js"
    crossorigin="anonymous"
  ></script>
</head>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block content %}


<!--LOGIN FORM-->

<section id="login">
  <div class="wrapper">
    <div class="content">
      <h1>LOGIN FORM</h1>
      <p>
        Welcome back. Login and keep up to date with stats of your favorite
        players and teams.
      </p>
    </div>

    <div class="form">
      <div class="top-form">
        <div class="innerform">
          <div class="label">username:</div>
          <input type="text" placeholder="John123" />
        </div>

        <div class="innerform">
          <div class="label">password:</div>
          <input type="text" placeholder="********" />
        </div>

      <div class="btn">submit</div>
      <p class="register-link">Haven't made an account yet... register <a href="register.html"> Here</a></p>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $(".btn").click(function () {
      $("input[type='text3'], textarea").val("");
    });
  });
</script>

<!-- footer with names of all team members -->
<footer class="footer">
  <h1 class="footer-title">Project Contributors:</h1>
  <br />
  <ul>
    <li>Andrew Tam</li>
    <li>Zuhair Khan</li>
    <li>Murphy Lee</li>
  </ul>
  <p>OkayReads, Copyright &copy; 2023</p>
</footer>
{% endblock %}
